@media (max-width: 767px){
    .container{
        max-width: 800px;
    }
    .service {
        margin-top: 67px;
    }
    .page-title__text{
        max-width: 383px;
    }
}
@media (max-width: 565px){
    .container{
       max-width: 550px;
    }
    .service {
        margin-top: 67px;
    }   
    .portfolio {
        margin-top: 67px;
    } 
}

@media (max-width: 565px){
    .container{
        max-width: 370px;
    }
    .page-title__text {
        font-size: 18px;
        max-width: 663px;
        margin: 6px auto;
    }
    .service__info {
        top: 67px;
    }
    .page-title {
        padding: 15px 60px;
    }
}